{# 
# Set up date variables.
# Use seconds to compare date.
# This date is +1hour to UK time
# it is like Italy time
#}
{% set getDateToday = "now"|date('U') %}

{% extends "base.html.twig" %}

{% block body %}
    <div class="main">
        <div class="main__content">
            <div class="home">
                <div class="latest-articles">
                    <div class="latest-articles__container-title">
                        <h2 class="latest-articles__title h2">Latest Guides</h2>
                    </div>
                    <div class="latest-articles__container-articles">
                        {% if (guides) %}
                            {% for guide in guides %}
                                {% if getDateToday > guide.created|date('U') and loop.index < 10 %}
                                    <div class="article-card">
                                        <a class="article-card__wrapper" href="guide/{{ guide.url }}">
                                            <div class="article-card__container-title">
                                                <h2 class="h3">{{ guide.title }}</h2>
                                            </div>
                                            <div class="article-card__container-data">
                                                <p class="p p--bold">Created: {{ guide.created|date('d F Y') }} - Updated: {{ guide.updated|date('d F Y') }}</p>
                                            </div>
                                            <div class="article-card__container-content">
                                                <div class="article-card__container-image">
                                                    <img class="article-card__image" src="images/{{ guide.getImage }}" alt="{{ guide.getImage.title }}" width="150" height="100" >
                                                </div>
                                                <div class="article-card__container-content-summary">
                                                    {% set guidePreview = guide.content|slice(0, 500) %}
                                                    <p class="article-card__summary body-3">{{ guidePreview|striptags }}...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="main__sidebar"></div>
    </div>
{% endblock %}