{% extends "base.html.twig" %}

{# Set Guide's variables #}
{% if guide %}
    {% set guideTitle = guide.title %}
    {% set guideDescription = guide.description %}
    {% set guideUrl = guide.url %}
    {% set guideCreated = guide.created %}
    {% set guideUpdated = guide.updated %}
    {% set guideImage = guide.getImage %}
    {% set guideImageAlt = guide.getImage.title %}
    {% set guideContent = guide.content %}
{% endif %}

{# 
# Set up date variables.
# Use seconds to compare date.
# This date is +1hour to UK time
# it is like Italy time
#}
{% set getDateToday = "now"|date('U') %}

{% block title %}
    <title>{{ guideTitle|raw }}</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="{{ guideDescription|raw }}">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Article",
            "headline": "{{ guideTitle|raw }}"
        },
        {
            "datePublished": "{{ guideCreated|date('Y-m-d') }}",
            "dateModified": "{{ guideUpdated|date('Y-m-d') }}",
            "author" {
                "@type": "Person",
            },
        }
    </script>
{% endblock %}

{% block titleHeader %}
    <h2 class="h2">Guide</h2>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="main__content">
            {% if (getDateToday > guideCreated|date('U')) %}
                <article class="article">
                    <div class="article__container-title">
                        <h1 class="h1">{{ guideTitle }}</h1>
                    </div>
                    <div class="article__container-data">
                        <ul class="article__menu-data">
                            <li class="article__data p p--bold">Published: {{ guideCreated|date('d-m-Y')  }}</li>
                            <li class="article__data p p--bold">Updated: {{ guideUpdated|date('d-m-Y')  }}</li>
                        </ul>
                    </div>
                    <div class="article__container-content">
                        {{ guideContent | raw }}
                        <div class="content__container-image">
                            <img class="content__image" src="../images/{{ guideImage }}" alt="{{ guideImageAlt }}">
                        </div>
                    </div>
                </article>
            {% endif %}
        </div>
        <div class="main__sidebar">
            {# Sidebar #}
        </div>
    </div>
{% endblock %}