<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <title>Dev With It: guides about programming languages and tech</title>
        {% endblock %}

        {% block description %}
            <meta name="Description" CONTENT="Dev With It: guides about programming languages, databases, front-end, back-end and other technologies for creating modern websites, web apps and software">
        {% endblock %}

        {% block data_structure %}
            <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "name": "Dev With It"
            }
            </script>
        {% endblock %}

        {% block index %}
            <meta name="robots" content="index, follow">
        {% endblock %}

        {% block canonical %}
            <link rel="canonical" href="https://devwithit.com">
        {% endblock %}

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYVSZ21RW7"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FYVSZ21RW7');
        </script>
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <div class="navbar__toggle">
                    <label for="navbar menu" aria-label="navbar menu"></label>
                    <input id="navbar menu" name="navbar menu" class="navbar__input" type="checkbox" aria-label="navbar menu" />
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <ul class="navbar__menu">
                        {% if app.request.attributes.get('_route') is not null %}
                            <li class="navbar__item navbar__logo">
                                <a class="brand-name no-link--white" href="{{ path('app_home') }}">Dev With It</a>
                            </li>
                            <li class="navbar__item">
                                <a class="navbar__link link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/" ? 'link-mark' : '' }}" href="{{ path('app_home') }}">Home</a>
                            </li>
                            <li class="navbar__item">
                                <a class="navbar__link link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/guides" ? 'link-mark' : '' }}" href="{{ path('app_archive_guides') }}">Guides</a>
                            </li>
                            <li class="navbar__item">
                                <a class="navbar__link link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/node-tutorial" ? 'link-mark' : '' }}" href="{{ path('app_tutorial_node') }}">Node</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN')  %}
                                <li class="navbar__item">
                                    <a class="navbar__link link-effect-load" href="{{ path('app_admin') }}">Admin</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="header__container-content">
                <div class="header__content-wrapper">
                    <h1 class="header__title">Dev With It</h1>
                    {% block titleHeader %}
                        <h2 class="header__sub-title">Home</h2>
                    {% endblock %}
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="footer__container-rights">
                <p class="footer__rights body-4">Made with <span class="heart">&hearts;</span> in London by Dev With It - &copy; {{ "now"|date("Y") }} - All rights reserved</p>
            </div>
        </footer>
    </body>
</html>
